.text-end {
    text-align: right !important;
    margin-right: 5%;
  }

  .float-end {
    float: right;
    margin-right: 5%;
  }

  .float-start {
    float: left !important;
    margin-left: 5%;
  }